body {
  font-family: "Roboto", sans-serif;
  color: black;
  height: 100%;
  background-image: url("pinkmarble.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 900px;
  border: #090909;
  margin-top: 50px;
  border-style: solid;
  padding: 3rem;
}

h1 {
  font-size: 62px;
  line-height: 62px;
  vertical-align: middle;
  font-weight: 200;
  margin-top: 40px;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: black;
}
h2 {
  font-size: 80px;
  line-height: 62px;
  vertical-align: middle;
  font-weight: 300;
  margin-top: 40px;
  margin-bottom: 20px;
  color: black;
}

hr {
  border-width: 1px 0;
  border-color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  font-weight: 100;
}

h4 {
  font-size: 62px;
  line-height: 62px;
  vertical-align: middle;
  font-weight: 200;
  margin-top: 40px;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: black;
}

h5 {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
}

p {
  text-transform: uppercase;
  opacity: 0.5;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 1.5px;
}

#weather-condition {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

#weather-condition h6 {
  font-size: 36px;
  margin-bottom: 2px;
}

#weather-condition p {
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 400;
}

#condition {
  text-transform: capitalize;
}

#city {
  color: rgb(14, 13, 13);
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.row :hover {
  color: #70706e;
}

footer {
  color: #70706e;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 15px;
}

button {
  border-radius: 50px;
  border: 1px solid #575756;
  color: #020202;
  background: #fcfbfb;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  float: right;
}

button:hover {
  color: #fcfbfb;
  background: #060606;
}

.search__input {
  border-radius: 50px;
  border: 1px solid #575756;
  color: #060606;
  background: #fcfbfb;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.search__input:hover {
  color: #fcfbfb;
  background: #060606;
}
input {
  border-radius: 50px;
  border: 1px solid #575756;
  color: #060606;
  background: #fcfbfb;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

a:link {
  color: #575756;
}
